# MARATONA BEHIND THE CODE 2020

## DESAFIO 6: LIT

## Testes com modelo H2O
- Autor: Rodrigo Lima
- LinkedIN: https://www.linkedin.com/in/rodrigolima82/


![title](virtual_assistance.png)

# Parte 01. Importando as bibliotecas

In [1]:
# Instalando o pacote h2o
!pip install h2o

Requirement already satisfied: h2o in /home/unimed/anaconda3/lib/python3.7/site-packages (3.30.1.1)
Requirement already satisfied: colorama>=0.3.8 in /home/unimed/anaconda3/lib/python3.7/site-packages (from h2o) (0.4.1)
Requirement already satisfied: future in /home/unimed/anaconda3/lib/python3.7/site-packages (from h2o) (0.17.1)
Requirement already satisfied: tabulate in /home/unimed/anaconda3/lib/python3.7/site-packages (from h2o) (0.8.6)
Requirement already satisfied: requests in /home/unimed/anaconda3/lib/python3.7/site-packages (from h2o) (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in /home/unimed/anaconda3/lib/python3.7/site-packages (from requests->h2o) (2.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/unimed/anaconda3/lib/python3.7/site-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/unimed/anaconda3/lib/python3.7/site-packages (from requests->h2o) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/unimed/anaconda3/lib/python3.7/site-packages (from requests->h2o) (1.24.2)

In [2]:
# Importando as bibliotecas
import pandas as pd
import h2o
from h2o.automl import H2OAutoML

# Inicializando o cluster
h2o.init()
h2o.cluster().show_status()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         12 days 20 hours 26 mins
H2O_cluster_timezone:       America/Sao_Paulo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.1
H2O_cluster_version_age:    20 days
H2O_cluster_name:           H2O_from_python_unimed_arnacy
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    15.09 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         12 days 20 hours 26 mins
H2O_cluster_timezone:       America/Sao_Paulo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.1
H2O_cluster_version_age:    20 days
H2O_cluster_name:           H2O_from_python_unimed_arnacy
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    15.09 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

# Parte 02. Carregando o Dataset

In [3]:
# Importando os datasets   
train = h2o.import_file('../data/training_dataset.csv')
test = h2o.import_file('../data/to_be_scored.csv')

# Convertendo a coluna target em fator
train['categoria'] = train['categoria'].asfactor()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

# Parte 03. Executando o H2OAutoML

In [4]:
# Indicando as colunas preditoras e a target
x = train.columns
y = 'categoria'

# Converter o target em fator
train[y] = train[y].asfactor()

# Executa o AutoML para 20 modelos
aml = H2OAutoML(max_models=20, seed=42)
aml.train(x=x, y=y, training_frame=train)

AutoML progress: |████████████████
19:13:21.497: XRT_1_AutoML_20200830_191210 [DRF XRT (Extremely Randomized Trees)] failed: java.lang.AssertionError

████████████████████████████████████████| 100%

# Parte 04. Avaliação do Desempenho dos Modelos

In [5]:
# AutoML Leaderboard
lb = aml.leaderboard

# Exibir as colunas do resultado dos modelos
lb.head(rows=lb.nrows)

model_id,mean_per_class_error,logloss,rmse,mse
XGBoost_grid__1_AutoML_20200830_191210_model_2,0.209242,0.778885,0.451666,0.204002
XGBoost_2_AutoML_20200830_191210,0.210657,0.798299,0.454273,0.206364
XGBoost_grid__1_AutoML_20200830_191210_model_1,0.210724,0.7597,0.451714,0.204045
StackedEnsemble_BestOfFamily_AutoML_20200830_191210,0.210743,0.750528,0.451472,0.203827
XGBoost_grid__1_AutoML_20200830_191210_model_5,0.210786,0.80557,0.448803,0.201425
StackedEnsemble_AllModels_AutoML_20200830_191210,0.211063,0.761088,0.456386,0.208288
XGBoost_grid__1_AutoML_20200830_191210_model_4,0.211298,0.806695,0.453064,0.205267
GBM_5_AutoML_20200830_191210,0.211489,0.759851,0.451128,0.203516
GBM_1_AutoML_20200830_191210,0.21149,0.761393,0.452897,0.205116
XGBoost_3_AutoML_20200830_191210,0.211558,0.765774,0.451151,0.203538
GBM_2_AutoML_20200830_191210,0.211969,0.763162,0.451385,0.203749
XGBoost_1_AutoML_20200830_191210,0.212085,0.804907,0.453752,0.205891
GBM_3_AutoML_20200830_191210,0.212234,0.769332,0.448622,0.201262
GBM_4_AutoML_20200830_191210,0.212577,0.797387,0.441862,0.195242
XGBoost_grid__1_AutoML_20200830_191210_model_3,0.215456,0.836917,0.451595,0.203938
DRF_1_AutoML_20200830_191210,0.218065,1.14486,0.496158,0.246172
GBM_grid__1_AutoML_20200830_191210_model_2,0.219261,0.804575,0.452608,0.204854
GBM_grid__1_AutoML_20200830_191210_model_1,0.250069,1.10764,0.451497,0.20385
DeepLearning_grid__2_AutoML_20200830_191210_model_1,0.355479,1.16695,0.518446,0.268786
DeepLearning_grid__1_AutoML_20200830_191210_model_1,0.408617,1.14491,0.55065,0.303215
DeepLearning_1_AutoML_20200830_191210,0.487381,1.08363,0.591391,0.349743
GLM_1_AutoML_20200830_191210,0.61668,1.37235,0.686058,0.470675

In [6]:
# Detalhes do melhor modelo
aml.leader

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid__1_AutoML_20200830_191210_model_2


Model Summary:

     number_of_trees
0               31.0

ModelMetricsMultinomial: xgboost
** Reported on train data. **

MSE: 0.1587071842476193
RMSE: 0.3983807026546583
LogLoss: 0.5240805699838167
Mean Per-Class Error: 0.1919385287139733

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,perfil1,perfil2,perfil3,perfil4,perfil5,perfil6,Error,Rate
0,1821.0,335.0,37.0,67.0,54.0,158.0,0.263350,651 / 2.472
1,134.0,3607.0,62.0,93.0,95.0,224.0,0.144247,608 / 4.215
2,28.0,87.0,817.0,25.0,29.0,67.0,0.224122,236 / 1.053
3,44.0,115.0,20.0,1336.0,42.0,104.0,0.195665,325 / 1.661
4,41.0,110.0,22.0,52.0,1556.0,136.0,0.188315,361 / 1.917
5,132.0,248.0,57.0,94.0,86.0,3922.0,0.135933,617 / 4.539
6,2200.0,4502.0,1015.0,1667.0,1862.0,4611.0,0.176452,2.798 / 15.857

Top-6 Hit Ratios:

   k  hit_ratio
0  1   0.823548
1  2   0.949927
2  3   0.980009
3  4   0.994009
4  5   0.998613
5  6   1.000000

ModelMetricsMultinomial: xgboost
** Reported on cross-validation data. **

MSE: 0.2040017702666582
RMSE: 0.45166555133932695
LogLoss: 0.7788846651575304
Mean Per-Class Error: 0.20924232971142556

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,perfil1,perfil2,perfil3,perfil4,perfil5,perfil6,Error,Rate
0,1792.0,360.0,37.0,67.0,59.0,157.0,0.275081,680 / 2.472
1,145.0,3569.0,69.0,96.0,95.0,241.0,0.153262,646 / 4.215
2,28.0,96.0,797.0,39.0,28.0,65.0,0.243115,256 / 1.053
3,44.0,125.0,30.0,1301.0,53.0,108.0,0.216737,360 / 1.661
4,39.0,118.0,23.0,75.0,1501.0,161.0,0.217006,416 / 1.917
5,140.0,270.0,58.0,105.0,109.0,3857.0,0.150253,682 / 4.539
6,2188.0,4538.0,1014.0,1683.0,1845.0,4589.0,0.191713,3.040 / 15.857

Top-6 Hit Ratios:

   k  hit_ratio
0  1   0.808287
1  2   0.877026
2  3   0.923693
3  4   0.957747
4  5   0.980892
5  6   1.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.8082866,0.0031862247,0.8039092,0.8114754,0.8060549,0.81046987,0.8095238
1,err,0.19171336,0.0031862247,0.19609079,0.18852459,0.19394512,0.18953012,0.1904762
2,err_count,608.0,10.1242285,622.0,598.0,615.0,601.0,604.0
3,logloss,0.7788848,0.0051111015,0.7741391,0.78107023,0.78031117,0.7733478,0.78555584
4,max_per_class_error,0.27585444,0.017014626,0.25570777,0.272,0.3026316,0.27160493,0.27732792
5,mean_per_class_accuracy,0.79104465,0.0035119697,0.78582704,0.78997374,0.7948481,0.7935932,0.7909813
6,mean_per_class_error,0.20895533,0.0035119697,0.21417296,0.21002628,0.20515192,0.20640676,0.20901872
7,mse,0.20400181,8.2729384E-4,0.20419048,0.2031191,0.20511207,0.20324434,0.20434308
8,r2,0.9442419,8.416565E-4,0.9428546,0.944668,0.9448718,0.94477886,0.94403625
9,rmse,0.45166487,9.1570837E-4,0.4518744,0.45068735,0.452893,0.4508263,0.45204324

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2020-08-30 19:13:38,16.531 sec,0.0,0.833333,1.791759,0.713754
1,,2020-08-30 19:13:38,17.031 sec,5.0,0.522205,0.816197,0.185659
2,,2020-08-30 19:13:38,17.266 sec,10.0,0.442511,0.659239,0.182506
3,,2020-08-30 19:13:38,17.482 sec,15.0,0.423339,0.609199,0.181119
4,,2020-08-30 19:13:39,17.723 sec,20.0,0.412854,0.574194,0.180299
5,,2020-08-30 19:13:39,18.001 sec,25.0,0.405945,0.549762,0.178533
6,,2020-08-30 19:13:39,18.329 sec,30.0,0.399787,0.528567,0.176578
7,,2020-08-30 19:13:39,18.419 sec,31.0,0.398381,0.524081,0.176452

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,modulos_finalizados,28538.357422,1.000000,0.421555
1,modulos_iniciados,16210.985352,0.568042,0.239461
2,certificados,10238.820312,0.358774,0.151243
3,total_modulos,5189.722656,0.181851,0.076660
4,id,3091.082275,0.108313,0.045660
5,horas_semanais_estudo,1197.046143,0.041945,0.017682
6,pretende_fazer_cursos_lit,233.315567,0.008176,0.003446
7,interesse_mba_lit,232.134842,0.008134,0.003429
8,graduacao.MBA,93.839561,0.003288,0.001386
9,importante_ter_certificado,90.329277,0.003165,0.001334
10,graduacao.Bacharelado,85.608192,0.003000,0.001265
11,graduacao.Especialização,80.388519,0.002817,0.001187
12,como_conheceu_lit.Outros,71.240410,0.002496,0.001052
13,graduacao.Licenciatura,68.683701,0.002407,0.001015
14,como_conheceu_lit.YouTube,68.144035,0.002388,0.001007
15,como_conheceu_lit.Facebook,66.974007,0.002347,0.000989
16,graduacao.Tecnólogo,66.115776,0.002317,0.000977
17,organizacao.Siderurgica,64.188789,0.002249,0.000948
18,universidade.missing(NA),63.950768,0.002241,0.000945
19,graduacao.SEM FORMAÇÃO,63.706146,0.002232,0.000941

See the whole table with table.as_data_frame()

# Parte 05. Realizar previsões com dados de teste

In [7]:
# Gerar as previsoes no dataset de teste
preds = aml.leader.predict(test)

# Salvar o resultado no dataset de teste
result = preds[:,0]
test['target'] = result

xgboost prediction progress: |████████████████████████████████████████████| 100%

# Parte 6. Submissão do Desafio 6

In [8]:
# Gravar o arquivo de submissão ao Desafio
h2o.export_file(test,'results_v2.csv')

Export File progress: |███████████████████████████████████████████████████| 100%